
@media ( prefers-color-scheme: dark ) {
}

/* Color theme: Super* */
:root {
    --accent-color: hsl(215, 67%, 60%);
    --accent-color-contrast: hsl(215, 67%, 50%);
    
    --background-color: hsl(54, 5%, 99%);
    --background-color-contrast: hsl(54, 5%, 95%);
    --background-color-contrast-more: hsl(54, 0%, 75%);
    --background-color-graph: hsl(54, 0%, 100%);
    
    --background-color-inputs: hsl(54, 0%, 85%);

    --font-color-primary: hsl(215, 20%, 10%);
    --font-color-secondary: hsl(0, 0%, 100%);
    --font-color-inputs: hsl(215, 20%, 20%);
    
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: monospace;
    
    --scrollbar-color: 255,255,255;
    --scrollbar-accent: 0,0,0;
        
    --logo-filter: invert(1.0);
    --svg-filter: grayscale(1) opacity(0.5);
}

/* Color theme: Super* Dark */
body.dark-mode {
    --accent-color: hsl(54, 100%, 63%);
    --accent-color-contrast: hsl(54, 100%, 40%);
    
    --background-color: hsl(215, 14%, 10%);
    --background-color-contrast: hsl(215, 14%, 8%);
    --background-color-contrast-more: hsl(215, 14%, 25%);
    --background-color-graph: hsl(215, 14%, 7%);
    
    --background-color-inputs: hsl(215, 14%, 5%);
    --font-color-primary: hsl(54, 11%, 87%);
    --font-color-secondary: #000;
    --font-color-inputs: hsl(215, 14%, 40%);
    
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: monospace;
    
    --scrollbar-color: 0,0,0;
    --scrollbar-accent: 255,255,255;
        
    --logo-filter: none;
    --svg-filter: grayscale(1.0) opacity(0.5);
}
